<div class="navbar-breadcrumb border-b bg-white drop-shadow-md px-5 py-2">
  <div class="flex flex-wrap items-center">
    <div class="grow">
      <p-breadcrumb [home]="breadcrumbHome" [model]="breadcrumbItems"></p-breadcrumb>
    </div>
    <div class="flex-none">
      <p-overlayPanel #op>
        <ng-template pTemplate>
          <div class="w-[150px] p-2">
            <div>
              <button
                pButton
                type="button"
                label="Profile"
                icon="pi pi-user"
                class="p-button-text p-button-sm text-left w-full"
                (click)="onToggleProfileModal()"></button>
            </div>
            <div>
              <button
                pButton
                type="button"
                label="Logout"
                icon="pi pi-power-off"
                class="p-button-text p-button-sm w-full"
                (click)="onLogout()"></button>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
      <button class="p-0 transition duration-150 ease-in-out" (click)="op.toggle($event)">
        <div class="flex items-center">
          <p-avatar
            [label]="getCredential() ? getCredential().username.charAt(0) : 'U'"
            shape="circle"
            class="text-uppercase mr-3"></p-avatar>
          <h6>{{ getCredential() ? getCredential().username : 'Unknown' }}</h6>
        </div>
      </button>
    </div>
  </div>
</div>

<p-dialog
  header="Profile"
  position="top"
  [(visible)]="isProfileVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '35vw' }">
  <div class="relative">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-sm text-gray-500">Admin ID</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.id : '-' }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">Username</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.username : '-' }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">Email</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.email : '-' }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">Phone</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.phone_number : '-' }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">ID Card</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.id_card : '-' }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">Name</p>
        <p class="text-sm mt-1">{{ myProfile ? myProfile.first_name + ' ' + myProfile.last_name : '-' }}</p>
      </div>
    </div>
    <div
      *ngIf="isProfileLoading"
      class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center bg-gray-500 bg-opacity-5">
      <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
        strokeWidth="5"
        animationDuration=".5s"></p-progressSpinner>
    </div>
  </div>
</p-dialog>
