:host {
  ::ng-deep {
    .p-button-sm {
      padding: 0.5rem 1rem;
    }

    .p-button-label {
      padding-left: 0;
    }

    .p-inputtext-sm {
      padding: 0.5rem;
    }

    .p-input-icon-left > .p-inputtext {
      padding-left: 2.5rem;
    }

    .p-dropdown-sm {
      .p-inputtext {
        @apply text-sm;
    
        padding: 0.5rem;
      }

      .p-dropdown-item {
        @apply text-sm;
      }
    }

    .p-dropdown .p-dropdown-label.p-placeholder {
      color: #999999;
    }

    .custom-pagination {
      .p-paginator .p-paginator-pages .p-paginator-page {
        height: 2rem;
        font-size: 14px;
      }

      .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
        height: 2rem;
      }

      .p-paginator .p-dropdown {
        height: 2rem;

        .p-inputtext {
          font-size: 14px;
          padding: 4px;
          padding-left: 10px;
        }
      }

      .p-dropdown .p-dropdown-trigger {
        width: 2rem;
      }

      .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        font-size: 14px;
        padding: 0.5rem 0.7rem;
      }
    }

    .p-calendar-sm {
      .p-calendar {
        @apply w-full;
      }

      .p-inputtext {
        @apply text-sm w-full;

        padding: 0.5rem;
      }
    }
  }
}