<p-toast></p-toast>
<p-confirmDialog [baseZIndex]="3" styleClass="md:max-w-[30vw]"></p-confirmDialog>

<div class="container p-5">
  <div class="flex mb-5">
    <div class="mr-4">
      <button
        pButton
        label="New Prescription"
        icon="pi pi-plus"
        class="p-button-success p-button-sm"
        (click)="onAddPreview()"></button>
    </div>
    <div *ngIf="false" class="mr-auto">
      <button pButton label="Bulk Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"></button>
    </div>
  </div>

  <p-table
    #dt
    dataKey="id"
    responsiveLayout="scroll"
    [value]="prescriptions"
    [rows]="perPage"
    [rowHover]="!isPrescriptionListLoading"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-sm">ID</th>
        <th class="text-sm">Diagnose</th>
        <th class="text-sm">Desciption</th>
        <th class="text-sm">Others</th>
        <th class="text-sm">Status</th>
        <th class="text-sm">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-prescription>
      <tr *ngIf="isPrescriptionListLoading">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>

      <tr *ngIf="!isPrescriptionListLoading">
        <td class="text-sm">
          {{ prescription.id }}
        </td>
        <td class="text-sm">
          {{ prescription.diagnose_id }}
        </td>
        <td class="text-sm">
          {{ prescription.description }}
        </td>
        <td class="text-sm">
          {{ prescription.others }}
        </td>
        <td class="text-sm">
          {{ prescription.status }}
        </td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning p-button-sm mr-2"
            [loading]="prescription.id === selectedPrescriptionId && isPrescriptionDetailLoading"
            (click)="onEditPreview(prescription)"></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            [disabled]="isDeleteLoading"
            [loading]="prescription.id === selectedPrescriptionId && isDeleteLoading"
            (click)="onDeletePreview(prescription.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    class="custom-pagination"
    styleClass="mt-4"
    [rows]="perPage"
    [totalRecords]="totalData"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
    (onPageChange)="onChangePage($event)"></p-paginator>

  <p-dialog
    [header]="selectedPrescriptionId ? 'Edit Prescription' : 'New Prescription'"
    position="top"
    responsiveLayout="scroll"
    [(visible)]="isPrescriptionFormVisible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="!isSubmitLoading"
    [style]="{ width: '100%', 'max-width': '30vw' }"
    (onHide)="onHideForm()">
    <form [formGroup]="prescriptionForm" class="grid gap-4" style="padding-top: 1px" (ngSubmit)="onSubmit()">
      <div class="field">
        <p class="text-sm mb-2">Diagnose</p>
        <input
          formControlName="diagnose_id"
          id="diagnose_id"
          type="text"
          pInputText
          placeholder="Diagnose"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && prescriptionForm.controls['diagnose_id'].errors
          }"
          class="p-inputtext-sm w-full" />
        <small *ngIf="isSubmitted && prescriptionForm.controls['diagnose_id'].errors" class="p-error block mt-1">
          Diagnose is required!
        </small>
      </div>

      <div class="field">
        <p class="text-sm mb-2">Status</p>
        <input
          formControlName="status"
          id="status"
          type="text"
          pInputText
          placeholder="Status"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && prescriptionForm.controls['status'].errors
          }"
          class="p-inputtext-sm w-full" />
        <small *ngIf="isSubmitted && prescriptionForm.controls['status'].errors" class="p-error block mt-1">
          Status is required!
        </small>
      </div>

      <div class="field">
        <p class="text-sm mb-2">Description</p>
        <textarea
          pInputTextarea
          formControlName="description"
          id="description"
          type="text"
          [rows]="5"
          [cols]="30"
          placeholder="Description"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && prescriptionForm.controls['description'].errors
          }"
          class="p-inputtext-sm w-full"></textarea>
        <small *ngIf="isSubmitted && prescriptionForm.controls['description'].errors" class="p-error block">
          Description is required!
        </small>
      </div>

      <div class="field">
        <p class="text-sm mb-2">Others</p>
        <textarea
          pInputTextarea
          formControlName="others"
          id="others"
          type="text"
          [rows]="5"
          [cols]="30"
          placeholder="Others"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && prescriptionForm.controls['others'].errors
          }"
          class="p-inputtext-sm w-full"></textarea>
        <small *ngIf="isSubmitted && prescriptionForm.controls['others'].errors" class="p-error block">
          Others is required!
        </small>
      </div>

      <div class="text-end mt-7">
        <button
          pButton
          label="Save"
          type="submit"
          class="p-button-primary p-button-sm py-2 px-10"
          [loading]="isSubmitLoading"></button>
      </div>
    </form>
  </p-dialog>
</div>
